<div class="header">
    <div class="mainHeader">
        
        
    </div>
</div>
<div class="lineHeader"></div>
<div class="banner">
    <div class="container">
        <div class="vertical-flex">
            <div class="box-return">
                <a>
                    <!-- <fa name="arrow-left" class="fa" size="4x"></fa> -->
                </a>
            </div>

            <div class="box-title">
                <div class="title">Graphics
                </div>
                <div class="subtitle ng-binding ng-scope">
                    Demo graphics
                </div>
            </div>
        </div>

    </div>

</div>
<div class="row"></div>


<router-outlet></router-outlet>