*{
    margin: 0;
    font-family: 'AB InBev Headlines', sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: auto;
    background-image: linear-gradient(#f2f2f2, #f9f9f9);
    
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
